*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.container{
    height: 475px;
    width: 315px;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display{
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    overflow: hidden;
}
.buttons{
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.btn{
    height: 60px;
    width: 60px;
    background-color: #a4a4a4;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    
}
#input-area{
  width: 200px;
  height: 20px;
    border: none;
    background: none;
    font-size: 0.75em;
    text-align: right;
    outline: none;
}
#backspace {
    font-size: 1.5em;
    width: 130px;
    background-color: #ff9966;
    color: white;   
}
#btn-clear {
    background-color: #ff6666;
    color: white;
    width: 130px;
}
.f-btn{
    background-color: #ffcc00;
    color: white;
}